<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>NSMotionUsageDescription</key>
	<string>산책 데이터를 기록하기 위해 움직임 데이터를 사용합니다.</string>
	<key>NSPhotoLibraryUsageDescription</key>
	<string>라이브러리에서 사진를 선택하려면 사진 보관함에 대한 접근 권한이 필요합니다.</string>
	<key>NSCameraUsageDescription</key>
	<string>기기에서 사진을 촬영하기 위해 카메라 접근 권한이 필요합니다.</string>
	<key>KAKAO_NATIVE_APP_KEY</key>
	<string>88917bd32cd5a4e5e50b193984545800</string>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleURLName</key>
			<string>GOOGLE</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>com.googleusercontent.apps.66969339194-m3mhc8skhvradm1fqgicuvevg1sp7f7j</string>
				<string>com.rak.SherlDog</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleURLName</key>
			<string>KAKAO</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>kakao88917bd32cd5a4e5e50b193984545800</string>
			</array>
		</dict>
	</array>
	<key>LSApplicationQueriesSchemes</key>
	<array>
		<string>kakaolink</string>
		<string>storykompassauth</string>
		<string>kakaokompassauth</string>
	</array>
	<key>NMFClientId</key>
	<string></string>
	<key>NSLocationAlwaysUsageDescription</key>
	<string>앱이 백그라운드에 있을 때도 산책 경로를 추적하기 위해 위치 접근이 필요합니다.
</string>
	<key>NSLocationAlwaysAndWhenInUseUsageDescription</key>
	<string>앱 사용 중과 백그라운드 모두에서 산책 경로를 추적할 수 있도록 허용해 주세요.
</string>
	<key>NSLocationWhenInUseUsageDescription</key>
	<string>산책 경로를 기록하기 위해 위치 접근이 필요합니다.
</string>
	<key>UIBackgroundModes</key>
	<array>
		<string>location</string>
	</array>
	<key>NMFNcpKeyId</key>
	<string>$(CLIENT_ID)</string>
	<key>UIAppFonts</key>
	<array>
		<string>Pretendard-Medium.otf</string>
		<string>Pretendard-Regular.otf</string>
		<string>Pretendard-SemiBold.otf</string>
		<string>Pretendard-Bold.otf</string>
		<string>EF_jejudoldam(OTF).otf</string>
	</array>
	<key>CFBundleExecutable</key>
	<string></string>
	<key>UIApplicationSceneManifest</key>
	<dict>
		<key>UIApplicationSupportsMultipleScenes</key>
		<false/>
		<key>UISceneConfigurations</key>
		<dict>
			<key>UIWindowSceneSessionRoleApplication</key>
			<array>
				<dict>
					<key>UISceneConfigurationName</key>
					<string>Default Configuration</string>
					<key>UISceneDelegateClassName</key>
					<string>$(PRODUCT_MODULE_NAME).SceneDelegate</string>
				</dict>
			</array>
		</dict>
	</dict>
	<key>CFBundleIdentifier</key>
	<string></string>
</dict>
</plist>
